$dark-fontColor:#000;
$content-fontcolor: #333;
$medium-fontColor:#666;
$light-fontColor:#999;
$content-bgcolor:#F1F1F1;
$content-notice-fontcolor:#777;
$search-bgColor:#f5f5f5;
$search-fontColor:#b7b7b7;
$bgColor:#fff;
$hightlight-fontColor:#E93B3B;
$btn-bgcolor:#0091ff;
$dark-bgColor: #F8F8F8;
